@import url("https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Cursive:wght@400..700&family=Google+Sans+Code:ital,wght,MONO@0,300..800,1;1,300..800,1&family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&family=Permanent+Marker&display=swap");
:root {
  --cursive-font: "Edu NSW ACT Cursive", cursive;
  --mono-font: "Google Sans Code", monospace;
  --sans-font: "Google Sans", sans-serif;
  --marker-font: "Permanent Marker", cursive;
  --btn-border-radius: 10px;
  --btn-border: 1px solid transparent;
  --card-border-radius: 00px;
  --font-scale: 2px;

  --canvas-h1-size: 24px;
  --canvas-h2-size: 20px;
  --canvas-h3-size: 17px;
  --canvas-p-size: 14px;
  --borders: 1px solid transparent;
}
:root[data-theme="light"] {
  --bg-color: radial-gradient(
    circle,
    rgba(174, 183, 238, 1) 0%,
    rgba(255, 255, 255, 1) 27%,
    rgba(250, 250, 250, 1) 55%,
    rgba(255, 255, 255, 1) 68%,
    rgba(255, 235, 235, 1) 81%,
    rgba(255, 255, 255, 1) 100%
  );
  --text-color: black;
  --nav-bg-color: linear-gradient(
    90deg,
    rgba(220, 220, 220, 0.35) 0%,
    rgba(240, 240, 240, 0.35) 35%,
    rgba(250, 250, 255, 0.35) 100%
  );
  --nav-shadow: 0px 0px 18px 1px rgb(237, 235, 235);
  --button-bg-color: #070606;
  --button-text-color: white;
  --card-bg: rgb(255, 255, 255, 0.45);
  --card-text: black;
  --nav-border: 1px solid rgb(222, 222, 222);
  --cards-border: 1px solid rgb(219, 219, 219);
  --codebox-bg-color: lavender;
  --codebox-text-color: black;
  --card-shadow: 0px 0px 150px 1px rgb(200, 200, 200);
  --canvas-text-color: black;
}

:root[data-theme="dark"] {
  --bg-color: radial-gradient(
    circle,
    rgba(2, 0, 26, 1) 0%,
    rgba(6, 6, 46, 1) 28%,
    rgba(1, 1, 61, 1) 66%,
    rgba(6, 0, 36, 1) 81%,
    rgba(0, 0, 28, 1) 100%
  );
  --text-color: white;
  --nav-bg-color: rgb(100, 100, 100, 0.3);
  --button-bg-color: #ededed;
  --button-text-color: #004aad;
  --card-bg: rgb(40, 40, 40, 0.5);
  --card-text: white;
  --codebox-bg-color: rgb(0, 0, 0, 0.5);
  --codebox-text-color: white;
  --canvas-text-color: white;
  --nav-border: 1px solid transparent;
  --cards-border: 1px solid transparent;
  --card-shadow: 0px 0px 195px 1px rgb(10, 10, 10);
}

body {
  background: var(--bg-color);
  color: var(--text-color);
  overflow: hidden;
}

.navBar {
  height: 50px;
  width: 100vw;
  background: var(--nav-bg-color);
  /* border-radius: 30px; */
  /* box-shadow: var(--nav-shadow); */
  /* margin: auto; */
  backdrop-filter: blur(1px);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  border: var(--nav-border);
}

.navBar-left {
  display: flex;
  border: var(--borders);
  width: fit-content;
  align-items: center;
}

.navBar-left > h1 {
  font-family: var(--mono-font);
  color: cornflowerblue;
  padding-left: 15px;
}

.navBar-left p {
  color: lightseagreen;
  font-family: var(--cursive-font);
  font-weight: 600;
  font-size: 16px;
}

.navBar-right {
  border: var(--borders);
  margin-right: 10px;
  display: flex;
  align-items: center;
}

.navBar button {
  margin: 5px;
  min-width: 80px;
  height: 32px;
  border: var(--btn-border);
  border-radius: var(--btn-border-radius);
  background-color: var(--button-bg-color);
  color: var(--button-text-color);
  padding: 10px;
  font-size: 11px;
  font-family: var(--mono-font);
}

/* This is the section for canvas */

.canvas-main {
  display: grid;
  grid-template-columns: 250px auto;
  border: var(--borders);
  /* position: fixed; */
  height: 98vh;
}

.canvas-abs {
  min-width: 250px;
  background-color: var(--card-bg);
  color: var(--text-color);
  border: var(--cards-border);
  border-radius: var(--card-border-radius);
  box-shadow: var(--card-shadow);
  padding: 20px;
  overflow-y: scroll;
  margin-top: 45px;
  /* This line is used to make scrollbar inside the box when usewd border border-radius too much; */
  clip-path: inset(0 round var(--card-border-radius));
}

.canvas-abs p {
  font-family: var(--sans-font);
  margin: 6px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1; /* Specify your line limit here */

  /* Modern standard properties */
  line-clamp: 1;
  overflow: hidden;
}
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
.canvas-outer {
  border: var(--borders);
  overflow-y: scroll;
  margin-left: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.canvas-fontscale {
  position: fixed;
  right: 30px;
}
.canvasDiv {
  background-color: var(--card-bg);
  color: var(--text-color);
  margin-top: 45px;
  border: var(--cards-border);
  width: 90%;
  aspect-ratio: 1/1.4142;
  padding: 20px;
  border-radius: var(--card-border-radius);
  box-shadow: var(--card-shadow);
  font-family: var(--sans-font);
  box-sizing: border-box;

  min-width: 620px;
}

.canvasDiv h1 {
  color: var(--canvas-text-color);
  font-size: calc(var(--canvas-h1-size) + var(--font-scale));
}
.canvasDiv h2 {
  color: var(--canvas-text-color);
  font-size: calc(var(--canvas-h2-size) + var(--font-scale));
}
.canvasDiv h3 {
  color: var(--canvas-text-color);
  font-size: calc(var(--canvas-h3-size) + var(--font-scale));
}
.canvasDiv p {
  color: var(--canvas-text-color);
  font-size: calc(var(--canvas-p-size) + var(--font-scale));
}

.ImgDiv {
  border: var(--borders);
  margin: auto;
  max-height: 400px;

  display: inline-block;
}
.ImgDiv img {
  max-height: 380px;
}
.ImgDiv p {
  font-style: italic;
  font-size: calc(10px + var(--font-scale));
  text-align: center;
}

.codebox {
  padding: 5px 18px 5px 18px;
  background-color: var(--codebox-bg-color);
  color: var(--codebox-text-color);
  border-radius: var(--btn-border-radius);
}
